body {
  font-family: Poppins;
  background-color: #cdead65e;
  color: navy;
}
h1 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 19px;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
button {
  font-size: 13px;
  border: none;
}
img {
  width: 50px;
  margin-top: 10px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border-radius: 10px;
  padding: 20px;
  border: 3px #ec6e4c3d solid;
  background: #efefef;
  box-shadow: 7px 10px 20px 2px rgb(42 208 193 / 30%);
  margin-bottom: 30px;
}
.overview {
  margin-bottom: 20px;
  text-align: center;
  border: 2px navy solid;
  border-radius: 4px;
  color: navy;
}
.weather-temperature {
  border: 2px navy solid;
  border-radius: 4px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  cursor: default;
  color: navy;
  text-decoration: none;
  font-size: 20px;
}
.weather-temperature .active:hover {
  text-decoration: none;
  cursor: default;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.form-control {
  border: 3px #ec6e4c3d solid;
}

.weather-forecast {
  text-align: center;
  margin: 20px 0;
}

.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.col-2 {
  margin: 0 4px;
  border: 2px navy solid;
  width: 15%;
  border-radius: 4px;
}
.coded-by {
  text-align: center;
}
.last-update {
  font-size: 12px;
  text-align: center;
}
.weather-data-current {
  text-align: right;
  border: 2px navy solid;
  border-radius: 4px;
  width: 137px;
  height: 114px;
  margin: 0 0 0 120px;
  padding: 7px 11px 7px 4px;
}
.weather-data-current li {
  line-height: 30px;
}
