body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: red;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: blueviolet;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 19px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border-radius: 10px;
  border: 2px blue solid;
  padding: 20px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.float-left {
  float: left;
}

.weather-data-current li {
  color: red;
  text-align: right;
}

.weather-data-current ul {
  float: right;
  margin: -100px -75.5%;
  width: -1%;
}
