body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cdead65e;
}

h1 {
  color: navy;
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: navy;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border-radius: 10px;
  padding: 20px;
  border: 3px #ec6e4c3d solid;
  background: linear-gradient(
    113.5deg,
    rgb(234, 234, 234) 22.3%,
    rgb(201, 234, 211) 56.6%,
    rgb(255, 180, 189) 90.9%
  );
  box-shadow: 7px 10px 20px 2px rgb(42 208 193 / 30%);
  margin-bottom: 30px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  color: navy;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  cursor: default;
  color: navy;
  text-decoration: none;
  font-size: 20px;
}
.weather-temperature .active:hover {
  text-decoration: none;
  cursor: default;
}
.float-left {
  float: left;
}

.weather-data-current li {
  color: navy;
  text-align: right;
}
